:root {
  --page-font-size: 18px;
  --page-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-hover: #00000011;
  --color-muted: #a3a3a3;
  --color-light-grey: #d3cfcf;
  --color-shadow: #3333;
  --color-black: #000;
  --color-white: #fff;
  --color-active: #252525;
  --color-active-hover: #454545;
  --color-grey: #9e9e9e;
  --color-transparent: #0000;
  --color-event-meeting: rgb(30, 108, 211);
  --color-event-call: red;
  --color-event-out: rgb(238, 184, 8);
  --shadow: 0 4px 4px 2px var(--color-shadow);
  --shadow-sm: 0 1px 4px 1px var(--color-shadow);
  --border-radius: 4px;
  --animation-time: 0.3s;
}